<manifest package="oms.mmc.civiclibrary"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application>
        <!-- 思域JobService -->
        <service android:name=".service.CivicJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE"/>
        <!-- 思域双重前台服务 -->
        <service android:name=".service.CivicDoubleService"/>
        <service android:name=".service.CivicDoubleService$InnerService"/>
        <!-- 思域服务端守护进程服务 -->
        <service android:name=".service.CivicDamonService"
            android:process=":remote"/>
        <receiver android:name=".receiver.CivicReceiver"
            android:exported="true">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="civic_action"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
