<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="saman.com.app">

    <!-- 告诉系统这个应用程序需要OpenGL ES 2.0。 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".CoreApplication"
        android:icon="@drawable/icon"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="saman.com.color.ColorActivity" />
        <activity android:name="saman.com.color.GLSurfaceActivity">
        </activity>

        <receiver
            android:name=".Receiver1"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receiver2"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".Service1"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".Service2"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>